-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: uplift_healthcare
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `claim_adjudication_logs`
--

DROP TABLE IF EXISTS `claim_adjudication_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claim_adjudication_logs` (
  `log_id` varchar(20) NOT NULL,
  `claim_id` varchar(20) NOT NULL,
  `denial_code` varchar(10) NOT NULL,
  `adjudicated_by` varchar(50) NOT NULL,
  `review_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `claim_id` (`claim_id`),
  KEY `denial_code` (`denial_code`),
  CONSTRAINT `claim_adjudication_logs_ibfk_1` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`),
  CONSTRAINT `claim_adjudication_logs_ibfk_2` FOREIGN KEY (`denial_code`) REFERENCES `denial_reason_codes` (`denial_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claim_adjudication_logs`
--

LOCK TABLES `claim_adjudication_logs` WRITE;
/*!40000 ALTER TABLE `claim_adjudication_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `claim_adjudication_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claim_disbursements`
--

DROP TABLE IF EXISTS `claim_disbursements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claim_disbursements` (
  `disbursement_id` varchar(25) NOT NULL,
  `claim_id` varchar(20) NOT NULL,
  `facility_id` varchar(15) NOT NULL,
  `check_or_eft_number` varchar(50) NOT NULL,
  `disbursement_date` date NOT NULL,
  PRIMARY KEY (`disbursement_id`),
  KEY `claim_id` (`claim_id`),
  KEY `facility_id` (`facility_id`),
  CONSTRAINT `claim_disbursements_ibfk_1` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`),
  CONSTRAINT `claim_disbursements_ibfk_2` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claim_disbursements`
--

LOCK TABLES `claim_disbursements` WRITE;
/*!40000 ALTER TABLE `claim_disbursements` DISABLE KEYS */;
/*!40000 ALTER TABLE `claim_disbursements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claim_line_items`
--

DROP TABLE IF EXISTS `claim_line_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claim_line_items` (
  `line_item_id` varchar(25) NOT NULL,
  `claim_id` varchar(20) NOT NULL,
  `procedure_code` varchar(10) NOT NULL,
  `diagnosis_code` varchar(10) NOT NULL,
  `billed_amount` decimal(10,2) NOT NULL,
  `contractual_write_off` decimal(10,2) NOT NULL,
  `allowed_amount` decimal(10,2) NOT NULL,
  `paid_amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`line_item_id`),
  KEY `claim_id` (`claim_id`),
  CONSTRAINT `claim_line_items_ibfk_1` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claim_line_items`
--

LOCK TABLES `claim_line_items` WRITE;
/*!40000 ALTER TABLE `claim_line_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `claim_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claims_header`
--

DROP TABLE IF EXISTS `claims_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `claims_header` (
  `claim_id` varchar(20) NOT NULL,
  `member_id` varchar(15) NOT NULL,
  `facility_id` varchar(15) NOT NULL,
  `rendering_practitioner_id` varchar(15) NOT NULL,
  `prior_auth_id` varchar(15) DEFAULT NULL,
  `date_of_service` date NOT NULL,
  `total_billed_amount` decimal(10,2) NOT NULL,
  `claim_status` varchar(20) NOT NULL,
  PRIMARY KEY (`claim_id`),
  KEY `member_id` (`member_id`),
  KEY `facility_id` (`facility_id`),
  KEY `rendering_practitioner_id` (`rendering_practitioner_id`),
  KEY `prior_auth_id` (`prior_auth_id`),
  CONSTRAINT `claims_header_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`),
  CONSTRAINT `claims_header_ibfk_2` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`),
  CONSTRAINT `claims_header_ibfk_3` FOREIGN KEY (`rendering_practitioner_id`) REFERENCES `practitioners` (`practitioner_id`),
  CONSTRAINT `claims_header_ibfk_4` FOREIGN KEY (`prior_auth_id`) REFERENCES `prior_authorizations` (`auth_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claims_header`
--

LOCK TABLES `claims_header` WRITE;
/*!40000 ALTER TABLE `claims_header` DISABLE KEYS */;
/*!40000 ALTER TABLE `claims_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coverage_plans`
--

DROP TABLE IF EXISTS `coverage_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coverage_plans` (
  `plan_id` varchar(10) NOT NULL,
  `plan_name` varchar(50) NOT NULL,
  `plan_type` varchar(20) NOT NULL,
  `base_monthly_rate` decimal(10,2) NOT NULL,
  `base_annual_rate` decimal(10,2) NOT NULL,
  `annual_deductible` decimal(10,2) NOT NULL,
  `copay_amount` decimal(10,2) NOT NULL,
  `coinsurance_percentage` int NOT NULL,
  `out_of_pocket_max` decimal(10,2) NOT NULL,
  PRIMARY KEY (`plan_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coverage_plans`
--

LOCK TABLES `coverage_plans` WRITE;
/*!40000 ALTER TABLE `coverage_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `coverage_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `denial_reason_codes`
--

DROP TABLE IF EXISTS `denial_reason_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `denial_reason_codes` (
  `denial_code` varchar(10) NOT NULL,
  `description` varchar(255) NOT NULL,
  PRIMARY KEY (`denial_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `denial_reason_codes`
--

LOCK TABLES `denial_reason_codes` WRITE;
/*!40000 ALTER TABLE `denial_reason_codes` DISABLE KEYS */;
INSERT INTO `denial_reason_codes` VALUES ('DEN-001','Not Covered');
/*!40000 ALTER TABLE `denial_reason_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilities`
--

DROP TABLE IF EXISTS `facilities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facilities` (
  `facility_id` varchar(15) NOT NULL,
  `facility_name` varchar(100) NOT NULL,
  `facility_type` varchar(30) NOT NULL,
  `network_status` varchar(15) NOT NULL,
  `facility_address` varchar(255) NOT NULL,
  PRIMARY KEY (`facility_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilities`
--

LOCK TABLES `facilities` WRITE;
/*!40000 ALTER TABLE `facilities` DISABLE KEYS */;
/*!40000 ALTER TABLE `facilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `government_funding_ledger`
--

DROP TABLE IF EXISTS `government_funding_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `government_funding_ledger` (
  `funding_entry_id` varchar(20) NOT NULL,
  `policy_id` varchar(15) NOT NULL,
  `program_id` varchar(10) NOT NULL,
  `payment_date` date NOT NULL,
  `capitation_amount_received` decimal(10,2) NOT NULL,
  `disbursement_cycle` varchar(20) NOT NULL,
  PRIMARY KEY (`funding_entry_id`),
  KEY `policy_id` (`policy_id`),
  KEY `program_id` (`program_id`),
  CONSTRAINT `government_funding_ledger_ibfk_1` FOREIGN KEY (`policy_id`) REFERENCES `policies` (`policy_id`),
  CONSTRAINT `government_funding_ledger_ibfk_2` FOREIGN KEY (`program_id`) REFERENCES `government_programs` (`program_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `government_funding_ledger`
--

LOCK TABLES `government_funding_ledger` WRITE;
/*!40000 ALTER TABLE `government_funding_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `government_funding_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `government_programs`
--

DROP TABLE IF EXISTS `government_programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `government_programs` (
  `program_id` varchar(10) NOT NULL,
  `program_name` varchar(50) NOT NULL,
  `government_agency` varchar(50) NOT NULL,
  `funding_type` varchar(255) NOT NULL,
  PRIMARY KEY (`program_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `government_programs`
--

LOCK TABLES `government_programs` WRITE;
/*!40000 ALTER TABLE `government_programs` DISABLE KEYS */;
/*!40000 ALTER TABLE `government_programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `high_dollar_claims_review`
--

DROP TABLE IF EXISTS `high_dollar_claims_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `high_dollar_claims_review` (
  `review_id` varchar(20) NOT NULL,
  `claim_id` varchar(20) NOT NULL,
  `audit_status` varchar(30) NOT NULL,
  `assigned_physician_reviewer` varchar(50) NOT NULL,
  `recovered_savings_amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`review_id`),
  KEY `claim_id` (`claim_id`),
  CONSTRAINT `high_dollar_claims_review_ibfk_1` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `high_dollar_claims_review`
--

LOCK TABLES `high_dollar_claims_review` WRITE;
/*!40000 ALTER TABLE `high_dollar_claims_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `high_dollar_claims_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_accumulators`
--

DROP TABLE IF EXISTS `member_accumulators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_accumulators` (
  `accumulator_id` varchar(20) NOT NULL,
  `member_id` varchar(15) NOT NULL,
  `benefit_year` int NOT NULL,
  `current_deductible_met` decimal(10,2) NOT NULL,
  `current_oop_max_met` decimal(10,2) NOT NULL,
  PRIMARY KEY (`accumulator_id`),
  KEY `member_id` (`member_id`),
  CONSTRAINT `member_accumulators_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_accumulators`
--

LOCK TABLES `member_accumulators` WRITE;
/*!40000 ALTER TABLE `member_accumulators` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_accumulators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_complaints`
--

DROP TABLE IF EXISTS `member_complaints`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_complaints` (
  `complaint_id` varchar(20) NOT NULL,
  `member_id` varchar(15) NOT NULL,
  `claim_id` varchar(20) DEFAULT NULL,
  `complaint_type` varchar(50) NOT NULL,
  `submission_date` date NOT NULL,
  `complaint_text` text NOT NULL,
  `current_status` varchar(20) NOT NULL,
  `resolution_notes` text,
  PRIMARY KEY (`complaint_id`),
  KEY `member_id` (`member_id`),
  KEY `claim_id` (`claim_id`),
  CONSTRAINT `member_complaints_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`),
  CONSTRAINT `member_complaints_ibfk_2` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_complaints`
--

LOCK TABLES `member_complaints` WRITE;
/*!40000 ALTER TABLE `member_complaints` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_complaints` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_other_insurance`
--

DROP TABLE IF EXISTS `member_other_insurance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_other_insurance` (
  `cob_id` varchar(15) NOT NULL,
  `member_id` varchar(15) NOT NULL,
  `other_insurer_name` varchar(50) NOT NULL,
  `other_policy_number` varchar(30) NOT NULL,
  `coverage_priority` varchar(10) NOT NULL,
  `effective_date` date NOT NULL,
  `termination_date` date DEFAULT NULL,
  PRIMARY KEY (`cob_id`),
  KEY `member_id` (`member_id`),
  CONSTRAINT `member_other_insurance_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_other_insurance`
--

LOCK TABLES `member_other_insurance` WRITE;
/*!40000 ALTER TABLE `member_other_insurance` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_other_insurance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_wellness_claims`
--

DROP TABLE IF EXISTS `member_wellness_claims`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member_wellness_claims` (
  `redemption_id` varchar(20) NOT NULL,
  `member_id` varchar(15) NOT NULL,
  `benefit_perk_id` varchar(10) NOT NULL,
  `submission_date` date NOT NULL,
  `proof_status` varchar(20) NOT NULL,
  `disbursed_date` date DEFAULT NULL,
  PRIMARY KEY (`redemption_id`),
  KEY `member_id` (`member_id`),
  KEY `benefit_perk_id` (`benefit_perk_id`),
  CONSTRAINT `member_wellness_claims_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`),
  CONSTRAINT `member_wellness_claims_ibfk_2` FOREIGN KEY (`benefit_perk_id`) REFERENCES `wellness_benefits` (`benefit_perk_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_wellness_claims`
--

LOCK TABLES `member_wellness_claims` WRITE;
/*!40000 ALTER TABLE `member_wellness_claims` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_wellness_claims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `members` (
  `member_id` varchar(15) NOT NULL,
  `policy_id` varchar(15) NOT NULL,
  `primary_member_id` varchar(15) DEFAULT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `date_of_birth` date NOT NULL,
  `gender` varchar(10) NOT NULL,
  `relationship_to_holder` varchar(20) NOT NULL,
  `member_status` varchar(15) NOT NULL,
  PRIMARY KEY (`member_id`),
  KEY `policy_id` (`policy_id`),
  KEY `primary_member_id` (`primary_member_id`),
  CONSTRAINT `members_ibfk_1` FOREIGN KEY (`policy_id`) REFERENCES `policies` (`policy_id`),
  CONSTRAINT `members_ibfk_2` FOREIGN KEY (`primary_member_id`) REFERENCES `members` (`member_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `policies`
--

DROP TABLE IF EXISTS `policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `policies` (
  `policy_id` varchar(15) NOT NULL,
  `plan_id` varchar(10) NOT NULL,
  `policy_holder_first_name` varchar(50) NOT NULL,
  `policy_holder_last_name` varchar(50) NOT NULL,
  `policy_status` varchar(15) NOT NULL,
  `effective_date` date NOT NULL,
  `termination_date` date DEFAULT NULL,
  `premium_amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`policy_id`),
  KEY `plan_id` (`plan_id`),
  CONSTRAINT `policies_ibfk_1` FOREIGN KEY (`plan_id`) REFERENCES `coverage_plans` (`plan_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `policies`
--

LOCK TABLES `policies` WRITE;
/*!40000 ALTER TABLE `policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `policy_riders`
--

DROP TABLE IF EXISTS `policy_riders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `policy_riders` (
  `policy_rider_id` varchar(20) NOT NULL,
  `policy_id` varchar(15) NOT NULL,
  `rider_id` varchar(10) NOT NULL,
  `additional_premium_amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`policy_rider_id`),
  KEY `policy_id` (`policy_id`),
  KEY `rider_id` (`rider_id`),
  CONSTRAINT `policy_riders_ibfk_1` FOREIGN KEY (`policy_id`) REFERENCES `policies` (`policy_id`),
  CONSTRAINT `policy_riders_ibfk_2` FOREIGN KEY (`rider_id`) REFERENCES `riders` (`rider_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `policy_riders`
--

LOCK TABLES `policy_riders` WRITE;
/*!40000 ALTER TABLE `policy_riders` DISABLE KEYS */;
/*!40000 ALTER TABLE `policy_riders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practitioners`
--

DROP TABLE IF EXISTS `practitioners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `practitioners` (
  `practitioner_id` varchar(15) NOT NULL,
  `specialty_id` varchar(10) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `license_number` varchar(30) NOT NULL,
  `network_status` varchar(15) NOT NULL,
  PRIMARY KEY (`practitioner_id`),
  UNIQUE KEY `license_number` (`license_number`),
  KEY `specialty_id` (`specialty_id`),
  CONSTRAINT `practitioners_ibfk_1` FOREIGN KEY (`specialty_id`) REFERENCES `specialties` (`specialty_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practitioners`
--

LOCK TABLES `practitioners` WRITE;
/*!40000 ALTER TABLE `practitioners` DISABLE KEYS */;
/*!40000 ALTER TABLE `practitioners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `premium_payments`
--

DROP TABLE IF EXISTS `premium_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `premium_payments` (
  `payment_id` varchar(20) NOT NULL,
  `policy_id` varchar(15) NOT NULL,
  `payment_date` date NOT NULL,
  `amount_paid` decimal(10,2) NOT NULL,
  `payment_method` varchar(20) NOT NULL,
  `billing_period` varchar(7) NOT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `policy_id` (`policy_id`),
  CONSTRAINT `premium_payments_ibfk_1` FOREIGN KEY (`policy_id`) REFERENCES `policies` (`policy_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `premium_payments`
--

LOCK TABLES `premium_payments` WRITE;
/*!40000 ALTER TABLE `premium_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `premium_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prior_authorizations`
--

DROP TABLE IF EXISTS `prior_authorizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prior_authorizations` (
  `auth_id` varchar(15) NOT NULL,
  `member_id` varchar(15) NOT NULL,
  `requesting_practitioner_id` varchar(15) NOT NULL,
  `procedure_code` varchar(10) NOT NULL,
  `auth_status` varchar(20) NOT NULL,
  `effective_date` date NOT NULL,
  `expiration_date` date NOT NULL,
  PRIMARY KEY (`auth_id`),
  KEY `member_id` (`member_id`),
  KEY `requesting_practitioner_id` (`requesting_practitioner_id`),
  CONSTRAINT `prior_authorizations_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`),
  CONSTRAINT `prior_authorizations_ibfk_2` FOREIGN KEY (`requesting_practitioner_id`) REFERENCES `practitioners` (`practitioner_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prior_authorizations`
--

LOCK TABLES `prior_authorizations` WRITE;
/*!40000 ALTER TABLE `prior_authorizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `prior_authorizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provider_claim_corrections`
--

DROP TABLE IF EXISTS `provider_claim_corrections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provider_claim_corrections` (
  `correction_id` varchar(25) NOT NULL,
  `original_claim_id` varchar(20) NOT NULL,
  `provider_facility_id` varchar(15) NOT NULL,
  `correction_reason` varchar(255) NOT NULL,
  `review_status` varchar(20) NOT NULL,
  `new_submitted_json_payload` text NOT NULL,
  `assigned_auditor_id` varchar(50) NOT NULL,
  PRIMARY KEY (`correction_id`),
  KEY `original_claim_id` (`original_claim_id`),
  KEY `provider_facility_id` (`provider_facility_id`),
  CONSTRAINT `provider_claim_corrections_ibfk_1` FOREIGN KEY (`original_claim_id`) REFERENCES `claims_header` (`claim_id`),
  CONSTRAINT `provider_claim_corrections_ibfk_2` FOREIGN KEY (`provider_facility_id`) REFERENCES `facilities` (`facility_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provider_claim_corrections`
--

LOCK TABLES `provider_claim_corrections` WRITE;
/*!40000 ALTER TABLE `provider_claim_corrections` DISABLE KEYS */;
/*!40000 ALTER TABLE `provider_claim_corrections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provider_contracts`
--

DROP TABLE IF EXISTS `provider_contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provider_contracts` (
  `contract_id` varchar(15) NOT NULL,
  `facility_id` varchar(15) NOT NULL,
  `procedure_code` varchar(10) NOT NULL,
  `negotiated_package_rate` decimal(10,2) NOT NULL,
  `effective_date` date NOT NULL,
  `expiration_date` date NOT NULL,
  PRIMARY KEY (`contract_id`),
  KEY `facility_id` (`facility_id`),
  CONSTRAINT `provider_contracts_ibfk_1` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provider_contracts`
--

LOCK TABLES `provider_contracts` WRITE;
/*!40000 ALTER TABLE `provider_contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `provider_contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provider_grievances`
--

DROP TABLE IF EXISTS `provider_grievances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provider_grievances` (
  `provider_grievance_id` varchar(20) NOT NULL,
  `facility_id` varchar(15) NOT NULL,
  `disputed_claim_id` varchar(20) NOT NULL,
  `dispute_reason` varchar(255) NOT NULL,
  `disputed_amount` decimal(10,2) NOT NULL,
  `submission_date` date NOT NULL,
  `resolution_status` varchar(20) NOT NULL,
  PRIMARY KEY (`provider_grievance_id`),
  KEY `facility_id` (`facility_id`),
  KEY `disputed_claim_id` (`disputed_claim_id`),
  CONSTRAINT `provider_grievances_ibfk_1` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`),
  CONSTRAINT `provider_grievances_ibfk_2` FOREIGN KEY (`disputed_claim_id`) REFERENCES `claims_header` (`claim_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provider_grievances`
--

LOCK TABLES `provider_grievances` WRITE;
/*!40000 ALTER TABLE `provider_grievances` DISABLE KEYS */;
/*!40000 ALTER TABLE `provider_grievances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provider_reviews`
--

DROP TABLE IF EXISTS `provider_reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provider_reviews` (
  `review_id` varchar(20) NOT NULL,
  `member_id` varchar(15) NOT NULL,
  `practitioner_id` varchar(15) DEFAULT NULL,
  `facility_id` varchar(15) NOT NULL,
  `claim_id` varchar(20) DEFAULT NULL,
  `rating_score` int NOT NULL,
  `review_text` text,
  `review_date` date NOT NULL,
  PRIMARY KEY (`review_id`),
  KEY `member_id` (`member_id`),
  KEY `practitioner_id` (`practitioner_id`),
  KEY `facility_id` (`facility_id`),
  KEY `claim_id` (`claim_id`),
  CONSTRAINT `provider_reviews_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`member_id`),
  CONSTRAINT `provider_reviews_ibfk_2` FOREIGN KEY (`practitioner_id`) REFERENCES `practitioners` (`practitioner_id`),
  CONSTRAINT `provider_reviews_ibfk_3` FOREIGN KEY (`facility_id`) REFERENCES `facilities` (`facility_id`),
  CONSTRAINT `provider_reviews_ibfk_4` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provider_reviews`
--

LOCK TABLES `provider_reviews` WRITE;
/*!40000 ALTER TABLE `provider_reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `provider_reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reinsurance_stop_loss_claims`
--

DROP TABLE IF EXISTS `reinsurance_stop_loss_claims`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reinsurance_stop_loss_claims` (
  `reinsurance_claim_id` varchar(25) NOT NULL,
  `claim_id` varchar(20) NOT NULL,
  `attachment_point_threshold` decimal(10,2) NOT NULL,
  `amount_recovered_from_reinsurer` decimal(10,2) NOT NULL,
  PRIMARY KEY (`reinsurance_claim_id`),
  KEY `claim_id` (`claim_id`),
  CONSTRAINT `reinsurance_stop_loss_claims_ibfk_1` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reinsurance_stop_loss_claims`
--

LOCK TABLES `reinsurance_stop_loss_claims` WRITE;
/*!40000 ALTER TABLE `reinsurance_stop_loss_claims` DISABLE KEYS */;
/*!40000 ALTER TABLE `reinsurance_stop_loss_claims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riders`
--

DROP TABLE IF EXISTS `riders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `riders` (
  `rider_id` varchar(10) NOT NULL,
  `rider_name` varchar(50) NOT NULL,
  `rider_type` varchar(30) NOT NULL,
  PRIMARY KEY (`rider_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riders`
--

LOCK TABLES `riders` WRITE;
/*!40000 ALTER TABLE `riders` DISABLE KEYS */;
/*!40000 ALTER TABLE `riders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `specialties`
--

DROP TABLE IF EXISTS `specialties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `specialties` (
  `specialty_id` varchar(10) NOT NULL,
  `specialty_name` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`specialty_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `specialties`
--

LOCK TABLES `specialties` WRITE;
/*!40000 ALTER TABLE `specialties` DISABLE KEYS */;
INSERT INTO `specialties` VALUES ('SPEC-01','General Practice',NULL);
/*!40000 ALTER TABLE `specialties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_payment_clearinghouse`
--

DROP TABLE IF EXISTS `vendor_payment_clearinghouse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_payment_clearinghouse` (
  `transmission_id` varchar(25) NOT NULL,
  `claim_id` varchar(20) NOT NULL,
  `vendor_name` varchar(50) NOT NULL,
  `payment_method_type` varchar(20) NOT NULL,
  `transmission_status` varchar(20) NOT NULL,
  `vendor_reference_number` varchar(50) DEFAULT NULL,
  `sent_timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `cleared_timestamp` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`transmission_id`),
  KEY `claim_id` (`claim_id`),
  CONSTRAINT `vendor_payment_clearinghouse_ibfk_1` FOREIGN KEY (`claim_id`) REFERENCES `claims_header` (`claim_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_payment_clearinghouse`
--

LOCK TABLES `vendor_payment_clearinghouse` WRITE;
/*!40000 ALTER TABLE `vendor_payment_clearinghouse` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_payment_clearinghouse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wellness_benefits`
--

DROP TABLE IF EXISTS `wellness_benefits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wellness_benefits` (
  `benefit_perk_id` varchar(10) NOT NULL,
  `perk_name` varchar(100) NOT NULL,
  `reward_type` varchar(30) NOT NULL,
  `reward_value` decimal(10,2) NOT NULL,
  PRIMARY KEY (`benefit_perk_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wellness_benefits`
--

LOCK TABLES `wellness_benefits` WRITE;
/*!40000 ALTER TABLE `wellness_benefits` DISABLE KEYS */;
/*!40000 ALTER TABLE `wellness_benefits` ENABLE KEYS */;
UNLOCK TABLES;
-- ------------------------------------------------------
-- NEW DATA ADDITIONS FOR SQL LEARNING
-- ------------------------------------------------------

-- Add these to the end of your file, just before the final settings.

-- Populating Provider Grievances to practice NULL/JOIN logic
INSERT INTO provider_grievances (provider_grievance_id, facility_id, disputed_claim_id, dispute_reason, disputed_amount, submission_date, resolution_status)
VALUES 
('GRV-001', 'FAC-19743', 'CLM-1536391', 'Underpayment on surgery', 150.00, '2026-05-15', 'PENDING'),
('GRV-002', 'FAC-40307', 'CLM-1067244', 'Denied billing code error', 450.75, '2026-06-01', 'RESOLVED');

-- Populating Premium Payments to practice time-series and trend analysis
INSERT INTO premium_payments (payment_id, policy_id, payment_date, amount_paid, payment_method, billing_period)
VALUES 
('PAY-9001', 'POL-112871', '2026-06-01', 1346.03, 'EFT', '2026-06'),
('PAY-9002', 'POL-124988', '2026-06-01', 785.70, 'CREDIT_CARD', '2026-06');

/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-19 14:13:18
